<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title><%= title %></title>
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>


	<body>
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="images/logo1.png" alt="" class="logo" >
						<div class="logo-type">
							<h1 class="site-title">Weather App</h1>
							<small class="site-description">@Harvey</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->
					<div class="mobile-navigation"></div>
				</div>
			</div> <!-- .site-header -->
			<div class="hero" data-bg-image="images/MTV.jpg"></div>
			<%if(record){%>
            <% var date1 = new Date(record.current_observation.pubDate * 1000);
				const offsetMs = date1.getTimezoneOffset() * 60 * 1000;
				const dateLocal = new Date(date1.getTime() - offsetMs);
				var day = date1.toString().slice(0,4);
				var mmdd = date1.toString().slice(4,10); %>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day"><%=day%></div>
								<div class="date"><%= mmdd%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location"><%= record.location.city%></div>
								<div class="degree">
									<div class="num"><%=record.current_observation.condition.temperature%><sup>o</sup>F</div>
									<div class="forecast-icon">
										<img src="images/icons/icon-1.svg" alt="" width="240%">
									</div>	
								</div>
								<span>Humidity: <%= record.current_observation.atmosphere.humidity%></span>
								<span>Wind Speed: <%= record.current_observation.wind.speed%>km/h</span><br>
								<span>Weather: <%= record.current_observation.condition.text%></span><br>
								<span>Sunrise: <%= record.current_observation.astronomy.sunrise%></span>
								<span>Sunset: <%= record.current_observation.astronomy.sunset%></span>
							</div>
						</div>
                        <% for (var i=0; i < record.forecasts.length; i++) { %>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=record.forecasts[i].day%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<% var picindex = record.forecasts[i].code;
									picindex = picindex % 14 + 1; %>
									<img src="images/icons/icon-<%=picindex%>.svg" alt="wrong" width="90%">
								</div>
								<div class="degree"><%= record.forecasts[i].high%><sup>o</sup></div>
								<small><%= record.forecasts[i].low%><sup>o</sup></small>
							</div>
						</div>
                        <%}%>
					</div>
				</div>
			</div>
			<%}%>

			<footer class="site-footer">
				<div class="container">

					<p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
			<!--https://www.themezy.com/free-website-templates/128-steel-weather-free-responsive-website-template-->
		</div>
		
		<script src="javascripts/jquery-1.11.1.min.js"></script>
		<script src="javascripts/plugins.js"></script>
		<script src="javascripts/app.js"></script>
		
	</body>

</html>